/* --------------------------HEADER SECTION---------------------------- */

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    color: aliceblue;
    text-shadow: 2px 2px 2px grey;
    width: auto;
    height: 300px;
    background-image: url(/resources/images/landscape.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn {
    font-family: inherit;
    font-weight: bold;
    width: 150px;
    height: 50px;
    background: #d9ecfd;
    border-radius: 30px; 
    padding: 8px;
    box-shadow: 1px 1px 1px grey;
    transition: all .3s ease-in;
}

.btn:hover {
    text-shadow: 1px 1px 1px grey;
    width: 100px;
    height: 40px;
    background: #c3ddf5;

}


/* --------------------------MAIN SECTION---------------------------- */

#main {
    display: flex;
    background: linear-gradient(rgb(192, 226, 253), rgb(187, 243, 187));
    height: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

.container_place {
    background: rgb(209, 227, 243);
    margin: 50px 20px;
    padding: 20px;
    width: 30%;
    height: 550px;
    box-shadow: 4px 4px 4px rgb(224, 237, 248);
}

h2 {
    text-shadow: 2px 2px 2px aliceblue;
}

/* ---------------------------------FOOTER----------------------------------- */

#footer {
    display: flex;
    justify-content: center;
    height: 100px;
    background: linear-gradient(rgb(198, 253, 216), rgb(215, 215, 247));
    text-shadow: 2px 2px 2px white;
}


/* --------------------------------------------------------------------- */


        /* h1 {
            color: green;
            text-align: center;
        }
 
        div.one {
            height: 150px;
            width: 150px;
            border: 1px dashed black;
            margin: 30px auto;
            background: #FFEBEE;
            transition: all 2s ease-out;
        }
 
        div.one:hover {
            height: 300px;
            width: 300px;
            background: #BBDEFB;
        } */
